// 🎨 Variables de couleurs
$primary-color: #20253A;
$secondary-color: #74798C;
$background-light: #282D30;
$background-gray: #FBFBFB;
$white: #FFFFFF;
$black: #000000;
$red: #FF0101;

// ✅ Ajout de la police globale
$font-family: 'Roboto', sans-serif;
$font-weight-medium: 500;
