// 🎨 Variables de couleurs
$primary-color: #20253A;
$secondary-color: #74798C;
$dark-secondary: #606060; // Définis une couleur foncée manuellement
$background-light: #FBFBFB;
$background-gray: #282D30;
$white: #FFFFFF;
$black: #000000;
$red: #FF0101;
$black-red:#E60000;
$gray-light:#C4C4C4;
$gray-ultralight:#DEDEDE;
$gray-libelle:#9B9EAC;

// ✅ Ajout de la police globale
$font-family: 'Roboto', sans-serif;
$font-weight-medium: 500;
