@use "../_variables" as *;

.not-found {
    background-color: $white; /* Assure un fond blanc */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-color;

    h1 {
        font-size: 3rem;
        color: $primary-color;
    }

    p {
        font-size: 18px;
        padding: 0 50px;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .home-button,
    .back-button {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    .home-button {
        background-color: $secondary-color;
        color: $primary-color;
    }

    .back-button {
        background-color: #ccc;
        color: black;
        border: none;
        cursor: pointer;
    }

    .home-button:hover {
        background-color: #0056b3;
    }

    .back-button:hover {
        background-color: #aaa;
    }
}
