.profile {
    padding: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

.profile h1 {
    color: #000000; // Noir
    font-size: 48px; // Taille du texte (ajuste selon ton besoin)
    font-weight: Medium;
}


.user-name {
    color: #ff0000;
    font-weight: bold;
}

.congrats-message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* 📌 Conteneur Principal */
.dashboard-container {
    display: flex;
    justify-content: center; /* ✅ Centre horizontalement */
    align-items: flex-start; /* ✅ Ajuste les éléments vers le haut */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
}


/* 📊 Zone des Graphiques */
.charts-container {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.charts-bottom {
    display: flex;
    justify-content: space-between; /* ✅ Répartition égale */
    align-items: center; /* ✅ Aligne verticalement */
    gap: 20px; /* ✅ Espacement entre les charts */
    width: 100%;
    max-width: 1440px; /* ✅ Assure une largeur max */
    margin: 0 auto; /* ✅ Centre les charts */
    padding: 0 20px; /* ✅ Évite que le contenu touche les bords */
}

/* 🟦 Section des Cartes d'Infos à droite */
.key-info-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between; // ✅ Répartit uniformément les cartes
    gap: 39px; // ✅ Espacement entre les cartes
    height: 100%; // ✅ S'assure que le conteneur prend toute la hauteur disponible
    min-height: 550px; // ✅ Ajuste selon le design (valeur à tester)
}