@use "../_variables" as *;

.profile {
    padding: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

.profile h1 {
    color: $black; // Noir
    font-size: 48px; // Taille du texte (ajuste selon ton besoin)
    font-weight: Medium;
}


.user-name {
    color: $red;
    font-weight: bold;
}

.congrats-message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* 📌 Conteneur Principal */
.dashboard-container {
    display: flex;
    justify-content: center; /* ✅ Centre horizontalement */
    align-items: stretch; /* ✅ Force les enfants à prendre la même hauteur */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
}


/* 📊 Zone des Graphiques */
.charts-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: auto; /* ✅ Prend toute la hauteur disponible */
}

.charts-bottom {
    display: flex;
    justify-content: space-between; /* ✅ Répartition égale */
    align-items: center; /* ✅ Aligne verticalement */
    gap: 20px; /* ✅ Espacement entre les charts */
    width: 100%;
    max-width: 1440px; /* ✅ Assure une largeur max */
    margin: 0 auto; /* ✅ Centre les charts */
}

/* 🟦 Section des Cartes d'Infos à droite */
.key-info-container {
    flex: 1; /* ✅ Prend l'espace restant */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* ✅ Répartit uniformément les cartes */
    width: 250px;
    height: auto; /* ✅ Doit s'étirer pour suivre .charts-container */
    gap: 39px;
}