/* ==========================
|        Dashboard          |
========================== */
@use "../_variables" as *;

.dashboard-layout {
    display: flex;
    flex-direction: column;
    height: auto; // Ajuste la hauteur en fonction du contenu

    .dashboard-content {
        display: flex; // ✅ Permet d'aligner la sidebar et le contenu principal
    }

    .dashboard-main {
        background-color: $white; 
        padding: 68px 90px 86px 107px;
        width: 100%;
    }
}

