/* ==========================
|           Header          |
========================== */
@use "../_variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $white;
    padding: 20px;

    .logo {
        height: 50px; // ✅ Ajuste la taille du logo
    }
    
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }
}
