/* ==========================
|           Header          |
========================== */
@use "../_variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $white;
    padding:18px 91px 12px 28px;

    .logo {
        height: 61px; // ✅ Ajuste la taille du logo
    }
    
    ul {
        list-style: none;
        display: flex;
        gap: 219px;
        li{
            font-size: 24px;
            font-weight: medium;
            a{
                color: $white;
            }

            a:hover{
                color: $gray-light;
                transform: scale(1.05);
            }
        }
    }
}
