@use "../_variables" as *;

.average-sessions-chart {
    flex: 1;
    max-width: 400px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $red;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    color: $white;
    position: relative;
    width: 100%;
    transition: background 0.3s ease-in-out;    

    .recharts-wrapper {
        width: 100% !important;
    }

    h2 {
        position: absolute;
        top: 15px;
        left: 34px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
    }

    .x-axis {
        fill: $white !important;
        opacity: 0.7;
        font-size: 14px;
    }

    .custom-tooltip {
        background: $white;
        color: $black;
        padding: 5px 10px;
        font-size: 8px;
        font-weight: 500;
    }

    .recharts-line .recharts-line-curve {
        stroke-width: 2.5px !important;
        opacity: 0.07; // 🔥 Opacité faible par défaut
    }

    .recharts-active-dot circle {
        fill: $white !important;
        stroke: rgba(255, 255, 255, 0.07) !important;
        stroke-width: 15px !important;
        r: 6px;
    }

    .background-gradient {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 4%, hwb(0 0% 100% / 0.122) 0%);
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    &.active-0 .background-gradient { left: 0%; opacity: 1; }
    &.active-1 .background-gradient { left: 13%; opacity: 1; }
    &.active-2 .background-gradient { left: 30%; opacity: 1; }
    &.active-3 .background-gradient { left: 46%; opacity: 1; }
    &.active-4 .background-gradient { left: 63%; opacity: 1; }
    &.active-5 .background-gradient { left: 80%; opacity: 1; }
    &.active-6 .background-gradient { left: 100%; opacity: 1; }
}
