@use "../_variables" as *;

.nutrition-card {
    display: flex;
    align-items: center;
    background-color: $background-light;
    padding: 32px;
    border-radius: 10px;
    width: 100%;
    gap: 33px;
    box-sizing: border-box;
    flex-grow: 1; // ✅ Permet d'étirer chaque carte pour remplir l'espace

    .nutrition-icon {
        width: 60px;
        height: 60px;
    }

    .nutrition-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nutrition-value {
        font-size: 20px;
        font-weight: bold;
        color: $background-gray;
        margin: 0;
    }

    .nutrition-type {
        color: $secondary-color; // ✅ Utilisation de la variable pour #74798C
        font-size: 14px;
        margin: 0;
    }    

    .nutrition-label {
        font-size: 14px;
        color: $secondary-color;
    }
}
